<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Couriers' App</title>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }
        td, th {
            padding: 3px;
            border-bottom: 1px solid black;
        }
    </style>
</head>

<body>
<div align="right">
    <p>Logged in as {{ current_user.name }}</p>
    <p><a href="/logout/">Logout</a></p>
</div>
<div align="center">
        <form action="/schedule/" method="POST">
            <input type="hidden" name="restaurant" value="pf">
            <input type="submit" class="btn btn-dark" value="Профинтерна">
        </form>
        <form action="/schedule/" method="POST">
            <input type="hidden" name="restaurant" value="iz">
            <input type="submit" class="btn btn-dark" value="Изумрудная">
        </form>
        <form action="/schedule/" method="POST">
            <input type="hidden" name="restaurant" value="zc">
            <input type="submit" class="btn btn-dark" value="Зальцмана">
        </form>
        <form action="/schedule/" method="POST">
            <input type="hidden" name="restaurant" value="bh">
            <input type="submit" class="btn btn-dark" value="ЧМЗ">
        </form>
        <form action="/schedule/" method="POST">
            <input type="hidden" name="restaurant" value="kt">
            <input type="submit" class="btn btn-dark" value="Кирова">
        </form>
    <h3>{{week.get_date()}}</h3>
    {% if restaurant_selected %}
    <table border="0px">
        <tr>
            <td></td>
            <td>10:30</td>
            <td>16:00</td>
        </tr>
        <tr>
            <td>ПН</td>
            <td>
                {% for i in week.schedule[0][rest_id][0] %}
                    {% if i.name == 'Free' %}
                        <form action="/schedule/" method="POST">
                            <input type="hidden" name="index" value="{{ i.id }}">
                            <input type="submit" class="btn btn-dark" value="{{ i.name }}">
                        </form>
                    {% else %}
                        {{ i.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for i in week.schedule[0][rest_id][1] %}
                    {% if i.name == 'Free' %}
                        <form action="/schedule/" method="POST">
                            <input type="hidden" name="index" value="{{ i.id }}">
                            <input type="submit" class="btn btn-dark" value="{{ i.name }}">
                        </form>
                    {% else %}
                        {{ i.name }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>ВТ</td>
            <td>
                {% for i in week.schedule[1][rest_id][0] %}
                    {% if i.name == 'Free' %}
                        <form action="/schedule/" method="POST">
                            <input type="hidden" name="index" value="{{ i.id }}">
                            <input type="submit" class="btn btn-dark" value="{{ i.name }}">
                        </form>
                    {% else %}
                        {{ i.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for i in week.schedule[1][rest_id][1] %}
                    {% if i.name == 'Free' %}
                        <form action="/schedule/" method="POST">
                            <input type="hidden" name="index" value="{{ i.id }}">
                            <input type="submit" class="btn btn-dark" value="{{ i.name }}">
                        </form>
                    {% else %}
                        {{ i.name }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>СР</td>
            <td>
                {% for i in week.schedule[2][rest_id][0] %}
                    {% if i.name == 'Free' %}
                        <form action="/schedule/" method="POST">
                            <input type="hidden" name="index" value="{{ i.id }}">
                            <input type="submit" class="btn btn-dark" value="{{ i.name }}">
                        </form>
                    {% else %}
                        {{ i.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for i in week.schedule[2][rest_id][1] %}
                    {% if i.name == 'Free' %}
                        <form action="/schedule/" method="POST">
                            <input type="hidden" name="index" value="{{ i.id }}">
                            <input type="submit" class="btn btn-dark" value="{{ i.name }}">
                        </form>
                    {% else %}
                        {{ i.name }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>ЧТ</td>
            <td>
                {% for i in week.schedule[3][rest_id][0] %}
                    {% if i.name == 'Free' %}
                        <form action="/schedule/" method="POST">
                            <input type="hidden" name="index" value="{{ i.id }}">
                            <input type="submit" class="btn btn-dark" value="{{ i.name }}">
                        </form>
                    {% else %}
                        {{ i.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for i in week.schedule[3][rest_id][1] %}
                    {% if i.name == 'Free' %}
                        <form action="/schedule/" method="POST">
                            <input type="hidden" name="index" value="{{ i.id }}">
                            <input type="submit" class="btn btn-dark" value="{{ i.name }}">
                        </form>
                    {% else %}
                        {{ i.name }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>ПТ</td>
            <td>
                {% for i in week.schedule[4][rest_id][0] %}
                    {% if i.name == 'Free' %}
                        <form action="/schedule/" method="POST">
                            <input type="hidden" name="index" value="{{ i.id }}">
                            <input type="submit" class="btn btn-dark" value="{{ i.name }}">
                        </form>
                    {% else %}
                        {{ i.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for i in week.schedule[4][rest_id][1] %}
                    {% if i.name == 'Free' %}
                        <form action="/schedule/" method="POST">
                            <input type="hidden" name="index" value="{{ i.id }}">
                            <input type="submit" class="btn btn-dark" value="{{ i.name }}">
                        </form>
                    {% else %}
                        {{ i.name }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>СБ</td>
            <td>
                {% for i in week.schedule[5][rest_id][0] %}
                    {% if i.name == 'Free' %}
                        <form action="/schedule/" method="POST">
                            <input type="hidden" name="index" value="{{ i.id }}">
                            <input type="submit" class="btn btn-dark" value="{{ i.name }}">
                        </form>
                    {% else %}
                        {{ i.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for i in week.schedule[5][rest_id][1] %}
                    {% if i.name == 'Free' %}
                        <form action="/schedule/" method="POST">
                            <input type="hidden" name="index" value="{{ i.id }}">
                            <input type="submit" class="btn btn-dark" value="{{ i.name }}">
                        </form>
                    {% else %}
                        {{ i.name }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>ВС</td>
            <td>
                {% for i in week.schedule[6][rest_id][0] %}
                    {% if i.name == 'Free' %}
                        <form action="/schedule/" method="POST">
                            <input type="hidden" name="index" value="{{ i.id }}">
                            <input type="submit" class="btn btn-dark" value="{{ i.name }}">
                        </form>
                    {% else %}
                        {{ i.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for i in week.schedule[6][rest_id][1] %}
                    {% if i.name == 'Free' %}
                        <form action="/schedule/" method="POST">
                            <input type="hidden" name="index" value="{{ i.id }}">
                            <input type="submit" class="btn btn-dark" value="{{ i.name }}">
                        </form>
                    {% else %}
                        {{ i.name }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    </table>
    {% endif %}
</div>
</body>
</html>