<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Couriers' App</title>
</head>

<body>
<div align="right">
    <p>Logged in as {{ current_user.name }}</p>
    <p><a href="/logout/">Logout</a></p>
</div>
<div align="center">
    <form action="" method="post">
        <label for="pf">Профинтерна</label>
        <input type="radio" name="restaurant" id="pf" value="pf"><br>
        <label for="iz">Изумрудная&nbsp;&nbsp;&nbsp;</label>
        <input type="radio" name="restaurant" id="iz" value="iz"><br>
        <label for="zc">Чурилово&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="radio" name="restaurant" id="zc" value="zc"><br>
        <label for="bh">ЧМЗ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="radio" name="restaurant" id="bh" value="bh"><br>
        <label for="kt">Кирова&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="radio" name="restaurant" id="kt" value="kt"><br>
        <input type="submit" value="Выбрать">
    </form>
    <h3>{{week.get_date()}}</h3>
    {% if restaurant_selected %}
    <table border="0px">
        <tr>
            <td></td>
            <td>10:30</td>
            <td>16:00</td>
        </tr>
        <tr>
            <td>ПН</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>ВТ</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>СР</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>ЧТ</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>ПТ</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>СБ</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>ВС</td>
            <td></td>
            <td></td>
        </tr>
    </table>
    {% endif %}
</div>
</body>
</html>