<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Couriers' App</title>
</head>
<body align="center">
    <h1>Couriers' App</h1>
    {% if message %}
        {{ message }}
    {% endif %}
    {% if login %}
    <h3>Login</h3>
    <form action="" method="post">
        <p><label for="username"><input type="text" name="username" placeholder="Username"></label></p>
        <p><label for="password"><input type="password" name="password" placeholder="Password"></label></p>
            <input type="submit" value="Submit">
    </form>
    <br><a href="/reg/">Register</a>
    {% endif %}

    {% if register %}
    <h3>Register</h3>
        <form action="" method="post">
        <p><label for="username"><input type="text" name="username" placeholder="Username"></label></p>
        <p><label for="password1"><input type="password" name="password1" placeholder="Password"></label></p>
        <p><label for="password2"><input type="password" name="password2" placeholder="Password again"></label></p>
        <input type="submit" value="Submit">
    </form>
    <br><a href="/">Login</a>
    {% endif %}
</body>
</html>